body {
  font-family: "Outfit", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}

h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
}

/* Title Section Style */

#title {
  color: rgb(8, 8, 8);
  background-image: url("Landing_page_background.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

.button-link {
  color: #fff;
  text-decoration: none;
}

.button-link:hover {
  color: #fff;
  text-decoration: underline;
}

.image-paper {
  height: 25rem;
  width: 28rem;
}

/* Row class Style */

.row {
  padding-left: 10%;
  padding-right: 5%;
}

/* Feature Section Style */

.feature-box {
  text-align: center;
  padding: 5%;
}

.features-heading {
  text-align: center;
}

.feature-box-pad {
  padding: 7.5%;
}

.container-fluid {
  padding: 3% 15%;
}

.feature-box-pad p {
  padding-top: 5%;
  font-size: 1.25rem;
}

/* Navbar Style */

.navbar-nav ml-auto {
  text-align: right;
}

.navbar {
  padding-bottom: 3.5rem;
}

.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.color-link {
  color: rgb(8, 8, 8);
}

/* Media query for width:700px */

@media only screen and (max-width: 700px) {
  .image-paper {
    height: 15rem;
    width: 10rem;
  }

  .download-button {
    width: 70px;
    font-size: 2px;
  }

  a{
    font-size:0.6rem;
  }

  .first {
    text-align: left;
    width: 50%;
    padding-bottom: 30px;
  }

  .first1 {
    width: 50%;
  }

  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  h2 {
    font-family: "Outfit", sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
  }

  h3 {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
  }

  h5{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
  }

  .card-body-s a{
    font-size: 0.8rem;
  }

  .card-body-s p{
    font-size: 1rem;
  }

  .footer-link a{
    font-size:1rem;
    
  }
}

/* Feature Section Style */

#features {
  padding: 3% 10%;
  background-image: url("Feature_section_background.jpg");
  background-attachment: fixed;
  background-size: cover;
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.16' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");*/
}

.icon {
  color: rgb(7, 7, 7);
  margin-bottom: 1rem;
}

.icon:hover {
  color: rgb(250, 90, 90);
}

/* Help Section Style */

#help {
  padding: 3% 15%;
  text-align: center;
  background-color: rgb(155, 153, 153);
  color: rgb(0, 0, 0);
  background-color: #fff8f1;
  background-color: #cbc5c0;
  background-color: #ffffff;
  background-image: url("Help_section_background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#help {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 20px;
}

.cont_card_style {
  padding: 0px;
}

.card-s {
  padding: 50px;
}

.card-body-s {
  background: rgba(248, 245, 245, 0.849);
  box-shadow: 0 10px 32px 0 rgba(175, 176, 177, 0.37);
  backdrop-filter: blur(1 px);
  -webkit-backdrop-filter: blur(1 px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.card-title {
  font-size: 1.6rem;
  text-decoration: underline;
}

.card-text {
  padding-top: 20px;
  font-size: 1.3rem;
}

/* Footer Section Style */

.footer_theme {
  background-color: #ffdaaf;
}

.container1 {
  background-color: #fff8f1;
}

#footer-resources {
  background-color: #dddddd;
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.per-footer {
  background-color: #424642;
  color: white;
}
